-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: it_helpdesk
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `asset`
--

DROP TABLE IF EXISTS `asset`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `asset` (
  `id_asset` int(11) NOT NULL AUTO_INCREMENT,
  `asset_code` varchar(255) NOT NULL,
  `id_ruangan` int(11) NOT NULL,
  `status` enum('repair','broken') NOT NULL,
  PRIMARY KEY (`id_asset`),
  UNIQUE KEY `asset_code` (`asset_code`),
  KEY `id_ruangan` (`id_ruangan`),
  CONSTRAINT `fk_asset_id_ruangan` FOREIGN KEY (`id_ruangan`) REFERENCES `unit` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `asset`
--

LOCK TABLES `asset` WRITE;
/*!40000 ALTER TABLE `asset` DISABLE KEYS */;
/*!40000 ALTER TABLE `asset` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `knowledge_article`
--

DROP TABLE IF EXISTS `knowledge_article`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `knowledge_article` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_categori` int(11) NOT NULL,
  `judul` varchar(255) NOT NULL,
  `content` text NOT NULL,
  `level` enum('Level_1','Level_2','Level_3') NOT NULL,
  `helpful` int(11) NOT NULL DEFAULT 0,
  `unhelpful` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `id_categori` (`id_categori`),
  KEY `level` (`level`),
  CONSTRAINT `fk_knowledge_article_id_categori` FOREIGN KEY (`id_categori`) REFERENCES `knowledge_kategori` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `knowledge_article`
--

LOCK TABLES `knowledge_article` WRITE;
/*!40000 ALTER TABLE `knowledge_article` DISABLE KEYS */;
INSERT INTO `knowledge_article` VALUES (1,1,'Komputer tidak menyala','Periksa kabel power, konektor listrik, dan tombol power komputer.','Level_1',0,0),(2,2,'Aplikasi tidak bisa dibuka','Coba tutup aplikasi, restart komputer, kemudian buka kembali aplikasi.','Level_1',0,0),(3,3,'Tidak bisa terhubung ke jaringan','Periksa kabel LAN dan koneksi jaringan, kemudian lakukan pengecekan IP.','Level_1',0,0);
/*!40000 ALTER TABLE `knowledge_article` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `knowledge_kategori`
--

DROP TABLE IF EXISTS `knowledge_kategori`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `knowledge_kategori` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama_kategori` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `knowledge_kategori`
--

LOCK TABLES `knowledge_kategori` WRITE;
/*!40000 ALTER TABLE `knowledge_kategori` DISABLE KEYS */;
INSERT INTO `knowledge_kategori` VALUES (1,'Hardware'),(2,'Software'),(3,'Jaringan');
/*!40000 ALTER TABLE `knowledge_kategori` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `level`
--

DROP TABLE IF EXISTS `level`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `level` (
  `level` enum('level_1','level_2','level_3') NOT NULL,
  PRIMARY KEY (`level`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `level`
--

LOCK TABLES `level` WRITE;
/*!40000 ALTER TABLE `level` DISABLE KEYS */;
INSERT INTO `level` VALUES ('level_1'),('level_2'),('level_3');
/*!40000 ALTER TABLE `level` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `login`
--

DROP TABLE IF EXISTS `login`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `login` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `Nama` varchar(100) DEFAULT NULL,
  `email` varchar(200) DEFAULT NULL,
  `password` varchar(200) DEFAULT NULL,
  `role` enum('user','admin','teknisi') DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `login`
--

LOCK TABLES `login` WRITE;
/*!40000 ALTER TABLE `login` DISABLE KEYS */;
INSERT INTO `login` VALUES (1,'admin','admin@ithelpdesk.com','$2b$10$AF3LRJ14m3K9.TPVXkXeIeTSD2o16V2LeYwSKxg/xU9pE7uWvGopK','admin'),(2,'teknisi','teknisi@ithelpdesk.com','$2b$10$on1Nb0Eu0EdJVM8/yk4CbudL.c3L4ksoUyk2W9.u92BZw/IBlMMUe','teknisi'),(3,'user','user@ithelpdesk.com','$2b$10$7EZqD10t5KygYzEkocoNQeILsHELEgx6KMeAurwps38KDEGJybIle','user');
/*!40000 ALTER TABLE `login` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tiket`
--

DROP TABLE IF EXISTS `tiket`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tiket` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `judul` varchar(255) NOT NULL,
  `categori` int(11) NOT NULL,
  `ruangan` int(11) NOT NULL,
  `prioritas` enum('level_1','level_2','level_3') NOT NULL,
  `deskripsi` text NOT NULL,
  `akun` int(11) NOT NULL,
  `status` enum('NEW','ASSIGNED','IN_PROGRESS','WAITING','RESOLVED','CLOSED') NOT NULL DEFAULT 'NEW',
  `teknisi` int(11) DEFAULT NULL,
  `solusi` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `categori` (`categori`),
  KEY `ruangan` (`ruangan`),
  KEY `prioritas` (`prioritas`),
  KEY `akun` (`akun`),
  KEY `teknisi` (`teknisi`),
  CONSTRAINT `fk_tiket_akun` FOREIGN KEY (`akun`) REFERENCES `login` (`id`),
  CONSTRAINT `fk_tiket_categori` FOREIGN KEY (`categori`) REFERENCES `knowledge_kategori` (`id`),
  CONSTRAINT `fk_tiket_prioritas` FOREIGN KEY (`prioritas`) REFERENCES `level` (`level`),
  CONSTRAINT `fk_tiket_ruangan` FOREIGN KEY (`ruangan`) REFERENCES `unit` (`id`),
  CONSTRAINT `fk_tiket_teknisi` FOREIGN KEY (`teknisi`) REFERENCES `login` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tiket`
--

LOCK TABLES `tiket` WRITE;
/*!40000 ALTER TABLE `tiket` DISABLE KEYS */;
INSERT INTO `tiket` VALUES (1,'Komputer Bermasalah',1,1,'level_1','Komputer mengalami masalah dan perlu dilakukan pemeriksaan.',3,'CLOSED',2,'Masalah koneksi jaringan sudah diperbaiki.'),(4,'Testing Authorization Teknisi',1,1,'level_2','Tiket khusus untuk pengujian authorization.',3,'RESOLVED',2,'Pengujian selesai dan masalah berhasil diperbaiki.');
/*!40000 ALTER TABLE `tiket` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `troubleshooting`
--

DROP TABLE IF EXISTS `troubleshooting`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `troubleshooting` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_tiket` int(11) NOT NULL,
  `lampiran` int(11) NOT NULL,
  `tindakan` text NOT NULL,
  `hasil` text NOT NULL,
  PRIMARY KEY (`id`),
  KEY `id_tiket` (`id_tiket`),
  CONSTRAINT `fk_troubleshooting_id_tiket` FOREIGN KEY (`id_tiket`) REFERENCES `tiket` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `troubleshooting`
--

LOCK TABLES `troubleshooting` WRITE;
/*!40000 ALTER TABLE `troubleshooting` DISABLE KEYS */;
INSERT INTO `troubleshooting` VALUES (1,1,1,'Memeriksa kabel power dan konektor listrik komputer','Kabel power terpasang dengan baik tetapi komputer masih belum menyala');
/*!40000 ALTER TABLE `troubleshooting` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `unit`
--

DROP TABLE IF EXISTS `unit`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `unit` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ruangan` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `unit`
--

LOCK TABLES `unit` WRITE;
/*!40000 ALTER TABLE `unit` DISABLE KEYS */;
INSERT INTO `unit` VALUES (1,'Ruang IT'),(2,'Ruang Administrasi'),(3,'Ruang Keuangan');
/*!40000 ALTER TABLE `unit` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-19 11:36:10
